body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* PAGE BACKGROUND */
.dashboard-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f9bb7, #1f15dd);
}

/* MAIN CARD */
.dashboard-card {
  display: flex;
  width: 950px;
  height: 550px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(5, 48, 147, 0.54);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: rgba(11, 165, 145, 0.726);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  color: white;
  margin-bottom: 20px;
}

/* TAB ITEMS */
.tab {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.tab:hover {
  background: rgba(10, 163, 130, 0.702);
}

.tab.active {
  background: #3b82f6;
}

/* CONTENT AREA */
.content {
  flex: 1;
  padding: 40px;
  color: white;
}
